@model PPcore.Models.mem_saleproduct_plan

<form id="mem_saleproductForm" class="form-horizontal"><input id="planId" hidden value="@ViewBag.planId" />
    <div class="form-group">
        <label asp-for="launch_date" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <div class="input-group">
                <input asp-for="launch_date" class="form-control" readonly style="background-color:white" >
                <span class="input-group-btn">
                    <button id="launch_dateButton" class="btn btn-default" type="button" style="border-color:orangered;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
            <span asp-validation-for="launch_date" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="estimate_qty" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input id="estimate_qty" class="form-control" value="@ViewBag.estimate_qty"/>
            <span id="estimate_qty_msg" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">หน่วย</label>
        <div class="col-md-8">
            <input id="pUnit" class="form-control" readonly/>
        </div>
    </div>
</form>
<div class="form-group">
    <div class="col-md-offset-4 col-md-8">
        <button id="mem_saleproduct_planSubmit" class="btn btn-success" onclick="mem_saleproduct_planPost()">บันทึก</button>
    </div>
</div>