<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="pull-left" style="margin-top:3px;"><span>ปฏิทินแผนการจำหน่ายผลิตผล</span></div>

        </div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6"><div id='calendar'></div></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 id="displaydate"></h4></div>
                <div class="panel-body">
                    <div class="dataTable_wrapper" style="padding-right:10px;" id="a_details_as_table">



                    </div>

                    
                </div>
            </div>

        </div>
    </div>




</div>

    </div>



</div>


@section Scripts {

<script src="~/lib/bootstrap/js/modal.js"></script>
<script src="~/js/moment.min.js"></script>
<script src="~/js/fullcalendar.min.js"></script>
<script src="~/js/locale/th.js"></script>

<link rel='stylesheet' href='~/css/fullcalendar.min.css' />

<style>
    #calendar {
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
        max-width: 900px;
        margin: 0 auto;
    }
    .fc-event{
        cursor: pointer;
    }
</style>

    <script>
        $(document).ready(function () {
            var today = new Date();
            $('#calendar').attr('style', '');

            $('#calendar').fullCalendar({
                defaultDate: today,
                editable: false,
                eventLimit: true,
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.Action("getCalendarEvents", "saleproducts")',
                        data: {
                            cstart: start.unix(),
                            cend: end.unix()
                        },
                        success: function (resp) {
                            var events = [];
                            if (resp != "") {
                                resp = JSON.parse(resp);
                                for (var i = 0; i < resp.length; i++) {
                                    events.push({
                                        title: resp[i].title,
                                        start: resp[i].start
                                    });
                                }
                            }
                            callback(events);
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    console.log("event " + calEvent.start);
                    getTableReserve(calEvent.start); 
                    $(this).css('color', 'red');
                }
            });
            var today = new Date();
            var tday = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            getTableReserve(new Date().getTime());
        });

        function getTableReserve(rdate) {
            //var drdate = new Date(rdate);
            //$('#displaydate').html(drdate);
            $.ajax({
                type: 'get', cache: false, url: '@Url.Action("DetailsSaleProductByReservationAsTable", "saleproducts")' + '?rdate=' + rdate,
            }).done(function (resp) {
                $('#a_details_as_table').html(resp);
                var w = [
                    { "targets": [0], "width": "15", "className": "dt-center" },
                    { "targets": [1], "visible": false, "searchable": false },
                    { "targets": [3], "className": "dt-center" },
                    { "targets": [4], "className": "dt-center" },
                    { "targets": [5], "className": "dt-center" },
                    { "targets": [6], "className": "dt-center" },
                    { "targets": [7], "className": "dt-center" },
                ];
                var table = setTable_default($('#a_table'), w);
                table.$('tr:first').click();
                $('#displaydate').html($('#showdate').html());
            });
        }


    </script>
}
