@model PPcore.Models.project_course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>project_course</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="active_member_join" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="active_member_join" class="form-control" />
                <span asp-validation-for="active_member_join" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="budget" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="budget" class="form-control" />
                <span asp-validation-for="budget" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cgroup_code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cgroup_code" class="form-control" />
                <span asp-validation-for="cgroup_code" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="charge_head" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="charge_head" class="form-control" />
                <span asp-validation-for="charge_head" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="course_approve_date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="course_approve_date" class="form-control" />
                <span asp-validation-for="course_approve_date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="course_begin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="course_begin" class="form-control" />
                <span asp-validation-for="course_begin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="course_date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="course_date" class="form-control" />
                <span asp-validation-for="course_date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="course_desc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="course_desc" class="form-control" />
                <span asp-validation-for="course_desc" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="course_end" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="course_end" class="form-control" />
                <span asp-validation-for="course_end" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ctype_code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ctype_code" class="form-control" />
                <span asp-validation-for="ctype_code" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="passed_member" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="passed_member" class="form-control" />
                <span asp-validation-for="passed_member" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="passed_score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="passed_score" class="form-control" />
                <span asp-validation-for="passed_score" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="project_code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="project_code" class="form-control" />
                <span asp-validation-for="project_code" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="project_manager" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="project_manager" class="form-control" />
                <span asp-validation-for="project_manager" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ref_doc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ref_doc" class="form-control" />
                <span asp-validation-for="ref_doc" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="support_head" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="support_head" class="form-control" />
                <span asp-validation-for="support_head" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="target_member_join" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="target_member_join" class="form-control" />
                <span asp-validation-for="target_member_join" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="x_log" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="x_log" class="form-control" />
                <span asp-validation-for="x_log" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="x_note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="x_note" class="form-control" />
                <span asp-validation-for="x_note" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="x_status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="x_status" class="form-control" />
                <span asp-validation-for="x_status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
